<% provide(:title, "Activities") %>
<html>
<body>
  <img src="/image/student.jpg" alt="Student"></img>
  <h1>Activities</h1>
  <a href="https://www.cpe.ku.ac.th/?page_id=1502"><img src="/image/act1.jpg" alt="act1"></img></a>
  <a href="https://www.cpe.ku.ac.th/?page_id=1309"><img src="/image/act2.jpg" alt="act2"></img></a>
  <a href="https://www.cpe.ku.ac.th/?page_id=1504"><img src="/image/act3.jpg" alt="act3"></img></a>
  <a href="https://www.cpe.ku.ac.th/?page_id=1274"><img src="/image/act4.jpg" alt="act4"></img></a>
</body>
</html>
