<% provide(:title, "About") %>
<h1>Administration</h1>
<h2>Department Head</h2>
<div class="container">
<div class="center-block">
  <tr>
  <td><%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg") %></td>
  <td>Assoc. Prof. Anan  PHONPHOEM</td>
  </tr>
</div>
</div>