<% provide(:title, "Administration") %>
<h1 class="text-center">Administration</h1>
<div class="container">
  <h2 class="h2 text-center">Department Head</h2>
  <div class="text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg") %>
    <p>Assoc. Prof. Anan  PHONPHOEM</p>
  </div>
</div>
<div class="container">
  <h2 class="h2 text-center">Board of Administrations</h2>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-19-19-21.jpg") %>
    <p>Kitsana WAIYAMAI ,D.U.</p>
    <p>Department Deputy</p>
  </div>
  <div class="col-sm-6 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2014/10/14-KUENG-PHO-01-40-40-26.jpg") %>
    <p>Chaiporn JAIKAEO ,Ph.D.</p>
    <p>Department Deputy</p>
  </div>
</div>