<html>
<body>
  <h1> How to apply </h1>
  <h4>
    <a href="http://admission.ku.ac.th/">press to apply for Bachelor degree of computer engineering</a><br><br>
    <a href="http://admission.ku.ac.th/">press to apply for Bachelor degree of software and knowledge engineering</a><br><br>
    <a href="http://158.108.32.54/index.php?r=studentApplication/create">press to apply for Master degree</a><br><br>
  </h4>
  <h1> Statistical Data </h1><br>
    <img src="image/graph.jpg" alt="Graph"></img>
</body>
</html>
