<% provide(:title, "Administration") %>
<h1>Administration</h1>
<div class="container">
  <h2 class="text-center">Department Head</h2>
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <%= image_tag("https://www.cpe.ku.ac.th/wp-content/uploads/2015/01/Anan-New.jpg") %>
    <p>Assoc. Prof. Anan  PHONPHOEM</p>
  </div>
  <div class="col-sm-4"></div>
</div>