<% provide(:title, "Contact Us") %>

<body>
    <h1 class="header">Contact Us</h1>
    <p>
Computer Enginerring Department, Kasetsart University (Bangkhen campus)<br>
Ngam Wong Wan Road, Khwaeng Lat Yao<br>
Bangkok 10900<br>
<b>Telephone</b> 0-2797-0999 to 1403-04 1450
</p>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=13.846093%2C100.5686036&key=AIzaSyDOclfV0yheC2K2n1EjjuKpJwWmO9rTbkQ
&zoom=16" allowfullscreen></iframe>
<br>
<a href="https://www.facebook.com/KasetsartCPE"><img src="/image/facebook_small.png" alt="Facebook"></img></a>
<a href="http://www.youtube.com/user/admissionengku"><img src="/image/youtube_small.png" alt="Youtube"></img></a>
<a href="mailto:cpe@ku.ac.th" target="_top"><img src="/image/email_small.png" alt="Email"></a>
</body>
