<!DOCTYPE html>
<html>
<title>CPE3</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script type="text/javascript" src="barscript.js"></script></script>

    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="HtmlPage.html" class="w3-bar-item w3-button">Overall</a>
        <a href="CPE1.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์</a>
        <a href="SKE1.html" class="w3-bar-item w3-button">สาขาวิศวกรรมซอฟต์แวร์และความรู้</a>
        <a href="CPE3.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์ เอก</a>
        <a href="CPE2.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์ โท</a>
        <a href="IT.html" class="w3-bar-item w3-button">สาขาเทคโนโลยีสารสนเทศ</a>

    </div>


    <div zclass="w3-main" id="main">

        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>Academics</h1>
            </div>
        </div>

        <div class="widget" style="margin-left:1%">
            <h1 class="post-title">ปริญญาเอก สาขาวิศวกรรมคอมพิวเตอร์</h1>

            <div class="divider">&nbsp;</div>

            <div class="post-content">
                <h2 class="contentheading" style="color: #545454;">โครงสร้างหลักสูตร</h2>
                <div class="article-content" style="color: #666666;">
                    <p><strong>ชื่อหลักสูตร</strong></p>
                    <p>
                        หลักสูตรปรัชญาดุษฎีบัณฑิต สาขาวิชาวิศวกรรมคอมพิวเตอร์<br>
                        Doctor of Philosophy Program in Computer Engineering
                    </p>
                    <p><strong>ชื่อปริญญา</strong></p>
                    <p>
                        <strong>ชื่อเต็ม</strong>&nbsp;:&nbsp;ปรัชญาดุษฎีบัณฑิต (วิศวกรรมคอมพิวเตอร์)<br>
                        <strong>ชื่อย่อ</strong>&nbsp;:&nbsp;ปร.ด. (วิศวกรรมคอมพิวเตอร์)<br>
                        <strong>ชื่อเต็ม</strong>&nbsp;:&nbsp;Doctor of Philosophy (Computer Engineering)<br>
                        <strong>ชื่อย่อ</strong>&nbsp;:&nbsp;Ph.D. (Computer Engineering)
                    </p>
                    <p><strong>โครงสร้างหลักสูตร</strong></p>
                    <p><span style="color: #0000ff;"><strong>แบบ 1.1</strong></span></p>
                    <table border="0" width="839" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>จำนวนหน่วยกิตรวมตลอดหลักสูตร</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>52&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td>ก. วิชาเอก</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>7&nbsp;หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>– สัมมนา</td>
                                <td></td>
                                <td>4&nbsp;หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>– วิชาเอกบังคับ</td>
                                <td></td>
                                <td>3&nbsp;หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>ข. วิทยานิพนธ์</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>52&nbsp;หน่วยกิต</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span style="color: #0000ff;"><strong>แบบ 1.2</strong></span></p>
                    <table border="0" width="839" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>จำนวนหน่วยกิตรวมตลอดหลักสูตร</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>72&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td>ก. วิชาเอก</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>9 หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>– สัมมนา</td>
                                <td></td>
                                <td>6&nbsp;หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>– วิชาเอกบังคับ</td>
                                <td></td>
                                <td>3&nbsp;หน่วยกิต (ไม่นับหน่วยกิต)</td>
                            </tr>
                            <tr>
                                <td>ข. วิทยานิพนธ์</td>
                                <td>ไม่น้อยกว่า</td>
                                <td>72&nbsp;หน่วยกิต</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><span style="color: #0000ff;"><strong>แบบ 2.1</strong></span></p>
                    <table style="width: 835px;" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 386px;">จำนวนหน่วยกิตรวมตลอดหลักสูตร</td>
                                <td style="width: 132px;">ไม่น้อยกว่า</td>
                                <td style="width: 313px;">52&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td style="width: 386px;">ก. วิชาเอก</td>
                                <td style="width: 132px;">ไม่น้อยกว่า</td>
                                <td style="width: 313px;">6&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td style="width: 386px;">– สัมมนา</td>
                                <td style="width: 132px;"></td>
                                <td style="width: 313px;">4&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td style="width: 386px;">– วิชาเอกบังคับ</td>
                                <td style="width: 132px;"></td>
                                <td style="width: 313px;">3&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td style="width: 386px;">– วิชาเอกเลือก</td>
                                <td style="width: 132px;"></td>
                                <td style="width: 313px;">9&nbsp;หน่วยกิต</td>
                            </tr>
                            <tr>
                                <td style="width: 386px;">ข. วิทยานิพนธ์</td>
                                <td style="width: 132px;">ไม่น้อยกว่า</td>
                                <td style="width: 313px;">36&nbsp;หน่วยกิต</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <h3><strong>แผนการศึกษา</strong></h3>
                    <h3>แบบ 1.1</h3>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 1</span></p>
                    <ul>
                        <li>01204691 ระเบียบวิธีวิจัยขั้นสูงทางวิศวกรรมคอมพิวเตอร์ 3(3-0-6) (ไม่นับหน่วยกิต)</li>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์ 8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์ 8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 1</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์ 9</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์ 9</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 9</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 9</li>
                    </ul>
                    <hr>
                    <h3>แบบ 1.2</h3>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 1</span></p>
                    <ul>
                        <li>01204691 ระเบียบวิธีวิจัยขั้นสูงทางวิศวกรรมคอมพิวเตอร์ 3(3-0-6) (ไม่นับหน่วยกิต)</li>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 2</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์&nbsp;7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 1</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์&nbsp;8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1 <em>(ไม่นับหน่วยกิต)</em></li>
                        <li>01204699 วิทยานิพนธ์&nbsp;8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1</li>
                        <li>01204699 วิทยานิพนธ์&nbsp;7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1</li>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 4&nbsp;ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 4&nbsp;ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 5&nbsp;ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 5&nbsp;ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 7</li>
                    </ul>
                    <hr>
                    <h3>แบบ 2.1</h3>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204691 ระเบียบวิธีวิจัยขั้นสูงทางวิศวกรรมคอมพิวเตอร์ 3(3-0-6)</li>
                        <li>01204697 สัมมนา 1</li>
                        <li>วิชาเอกเลือก&nbsp;6</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 1 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1</li>
                        <li>01204699 วิทยานิพนธ์ 8</li>
                        <li>วิชาเอกเลือก&nbsp;3</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 1&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1</li>
                        <li>01204699 วิทยานิพนธ์&nbsp;8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 2 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204697 สัมมนา 1</li>
                        <li>01204699 วิทยานิพนธ์ 9</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 1</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์&nbsp;8</li>
                    </ul>
                    <p><span style="color: #3366ff;">ปีที่ 3 ภาคการศึกษาที่ 2&nbsp;</span></p>
                    <ul>
                        <li>01204699 วิทยานิพนธ์ 4</li>
                    </ul>
                    <p>&nbsp;</p>
                    <hr>
                    <p><span style="text-decoration: underline;"><strong>หมายเหตุ</strong></span> จำนวนหน่วยกิต&nbsp;(ชม.บรรยาย–ชม.ปฎิบัติการ–ชม.ศึกษาด้วยตนเอง)</p>
                </div>

                <div class="cleaner">&nbsp;</div>


            </div><!-- end .post-content -->


            <div class="divider">&nbsp;</div>
            <div class="wrapper-special">
                <span class="share_btn">
                    <a href="http://twitter.com/share" data-url="https://www.cpe.ku.ac.th/?page_id=97" class="twitter-share-button" data-count="horizontal">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </span>
                <span class="share_btn"><iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D97&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowtransparency="true"></iframe></span>
                <span class="share_btn"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1495697244129" name="I0_1495697244129" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;url=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D97&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.th.466YthF1aDM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNaNj1ljB9yT90pvCWgtJ16jGdq4g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1495697244129&amp;parent=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;pfname=&amp;rpctoken=21246485" data-gapiattached="true" title="+1"></iframe></div></span>
                
            </div><!-- end .wrapper-special -->



            <div class="cleaner">&nbsp;</div>
        </div>


</body>
</html>


