
<html>
<body>
    <img src="/image/tuition.jpg" alt="tuition"></img>
  <h1>Tuition Fee and Scholarships</h1>
  <p>
      Education is an investment. Who are interested in continuing education and <br>
    current students in addition to the time to invest in learning more with us then.<br>
    Students in the Department of Computer Engineering will be required to pay<br>
    registration fees and other fees as determined by the University.<br>
      For who are interested in continuing education and current students with<br>
    exceptional academic performance and / or lack of capital.<br>
    Departments from university level Faculty of Engineering And<br>
    the Department of Computer Engineering also offers scholarships as well.<br><br>
    <a href="http://www.regweb.registrar.ku.ac.th/calendar/index/138?a_id=218">Registration fee and fees</a><br>
    scholarship<br>
    Last updated: 24/02/2015<br><br>
    Note: The information in this page is for general reference only.<br>
    Registration fees and fees vary from year to year.<br>
    So please check with the university for more information.<br>
  </p>
</body>
</html>
