<% provide(:title, "Home") %>

<h1>Home</h1>

<div class="text-center">
<img src="/image/home1.jpg"></img>

<h4><a href = "https://www.cpe.ku.ac.th/?p=3825">“KuAcar” คว้าอันดับ2 การแข่งขันรถจำลองไร้คนขับ AMAS MBD 2014</a></h4>

<img src="/image/home2.jpg"></img>

<h4><a href = "https://www.cpe.ku.ac.th/?p=3822">เปิดรับสมัครผู้สนใจเข้าศึกษาต่อ ระดับปริญญาโทและปริญญาเอก</a></h4>

<img src="/image/home3.jpg"></img>

<h4><a href = "https://www.cpe.ku.ac.th/?p=3813">โครงการเรียนล่วงหน้า ระดับบัณฑิตศึกษา ภาคปลาย ปีการศึกษา 2559</h4>
</div>