
<!DOCTYPE html>
<html>
<title>Overall</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script type="text/javascript" src="barscript.js"></script></script>

    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="Overall.html" class="w3-bar-item w3-button">Overall</a>
        <a href="Research_field.html" class="w3-bar-item w3-button">Research field</a>
        

    </div>


    <div zclass="w3-main" id="main">

        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1>Research</h1>
            </div>
        </div>

        <div>

            <div class="widget" style="margin-left:1%">
                
                    <h1 class="post-title">ภาพรวมงานวิจัย</h1>

                    <div class="divider">&nbsp;</div>

                    <div class="post-content">
                        <p>ภาควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ ปัญญาประดิษฐ์ วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ</p>
                        <ul>
                            <li>ผลงานวิจัยและพัฒนาเด่น</li>
                            <li>ผลงานดีเด่นของนิสิต</li>
                            <li><a href="https://www.cpe.ku.ac.th/?page_id=110">รายชื่อห้องปฏิบัติการ</a></li>
                        </ul>

                        <div class="cleaner">&nbsp;</div>


                    </div><!-- end .post-content -->


                    <div class="divider">&nbsp;</div>
                    <div class="wrapper-special">
                        <span class="share_btn"><a href="http://twitter.com/share" data-url="https://www.cpe.ku.ac.th/?page_id=108" class="twitter-share-button" data-count="horizontal">Tweet</a>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
                        <span class="share_btn"><iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D108&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowtransparency="true"></iframe></span>
                        <span class="share_btn"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1495698950394" name="I0_1495698950394" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;url=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D108&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.th.466YthF1aDM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNaNj1ljB9yT90pvCWgtJ16jGdq4g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1495698950394&amp;parent=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;pfname=&amp;rpctoken=40795075" data-gapiattached="true" title="+1"></iframe></div></span>
                      
                    </div><!-- end .wrapper-special -->



                    <div class="cleaner">&nbsp;</div>
                </div>


</body>
</html>

