<!DOCTYPE html>
<html>
<title>SKE1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<body>
    <script type="text/javascript" src="barscript.js"></script></script>


    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
                onclick="w3_close()">
            Close &times;
        </button>
        <a href="HtmlPage.html" class="w3-bar-item w3-button">Overall</a>
        <a href="CPE1.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์</a>
        <a href="SKE1.html" class="w3-bar-item w3-button">สาขาวิศวกรรมซอฟต์แวร์และความรู้</a>
        <a href="CPE3.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์ เอก</a>
        <a href="CPE2.html" class="w3-bar-item w3-button">สาขาวิศวกรรมคอมพิวเตอร์ โท</a>
        <a href="IT.html" class="w3-bar-item w3-button">สาขาเทคโนโลยีสารสนเทศ</a>

    </div>

    <div zclass="w3-main" id="main">

        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
            <div class="w3-container">
                <h1 >Academics</h1>
            </div>
        </div>

        <div class="widget" style="margin-left:1%">
            
                <h1 class="post-title">ปริญญาตรีสาขาวิศวกรรมซอฟต์แวร์และความรู้</h1>

                <div class="divider">&nbsp;</div>

                <div class="post-content">
                    <h1></h1>
                    <div id="node-28">
                        <div>
                            <h3>ชื่อปริญญา</h3>
                            <p>
                                <strong>ชื่อเต็ม</strong> : วิศวกรรมศาสตรบัณฑิต (วิศวกรรมซอฟต์แวร์และความรู้)<br>
                                <strong>ชื่อย่อ</strong> : &nbsp;วศ.บ. (วิศวกรรมซอฟต์แวร์และความรู้)<br>
                                <strong>ชื่อเต็ม</strong> : Bachelor of Engineering (Software and Knowledge Engineering)<br>
                                <strong>ชื่อย่อ</strong> : &nbsp;B.Eng. (Software and Knowledge Engineering)
                            </p>
                            <h3>หลักสูตร</h3>
                            <p>จำนวนหน่วยกิตรวมตลอดหลักสูตร ไม่น้อยกว่า 136 หน่วยกิต</p>
                            <h4>โครงสร้างของหลักสูตร</h4>
                            <ol>
                                <li>
                                    หมวดวิชาศึกษาทั่วไป ไม่น้อยกว่า 30 หน่วยกิต
                                    <ul>
                                        <li>กลุ่มวิชาวิทยาศาสตร์และคณิตศาสตร์ 10 หน่วยกิต</li>
                                        <li>กลุ่มวิชาภาษา 12 หน่วยกิต</li>
                                        <li>กลุ่มวิชาสังคมศาสตร์ 3 หน่วยกิต</li>
                                        <li>กลุ่มวิชามนุษยศาสตร์ 3 หน่วยกิต</li>
                                        <li>กลุ่มวิชาพลศึกษา 2 หน่วยกิต</li>
                                    </ul>
                                </li>
                                <li>
                                    หมวดวิชาเฉพาะ ไม่น้อยกว่า 100 หน่วยกิต
                                    <ul>
                                        <li>วิชาเฉพาะบังคับ 88 หน่วยกิต</li>
                                        <li>วิชาเฉพาะเลือกไม่น้อยกว่า 12 หน่วยกิต</li>
                                    </ul>
                                </li>
                                <li>หมวดวิชาเลือกเสรี ไม่น้อยกว่า 6 หน่วยกิต</li>
                            </ol>
                        </div>
                    </div>

                    <div class="cleaner">&nbsp;</div>


                </div><!-- end .post-content -->


                <div class="divider">&nbsp;</div>
                <div class="wrapper-special">
                    <span class="share_btn"><a href="http://twitter.com/share" data-url="https://www.cpe.ku.ac.th/?page_id=95" class="twitter-share-button" data-count="horizontal">Tweet</a>
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
                    <span class="share_btn"><iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D95&amp;layout=button_count&amp;show_faces=false&amp;width=80&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowtransparency="true"></iframe></span>
                    <span class="share_btn"><div id="___plusone_0" style="text-indent: 0px; margin: 0px; padding: 0px; background: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 90px; height: 20px;"><iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 90px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1495696981236" name="I0_1495696981236" src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=medium&amp;origin=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;url=https%3A%2F%2Fwww.cpe.ku.ac.th%2F%3Fpage_id%3D95&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.th.466YthF1aDM.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCNaNj1ljB9yT90pvCWgtJ16jGdq4g#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1495696981236&amp;parent=https%3A%2F%2Fwww.cpe.ku.ac.th&amp;pfname=&amp;rpctoken=34698298" data-gapiattached="true" title="+1"></iframe></div></span>
                    
                </div><!-- end .wrapper-special -->



                <div class="cleaner">&nbsp;</div>
            </div>



</body>
</html>